header {padding: 0em 1em;height: 8vh;justify-content: space-between;align-items: center;width: 100%;background-color: white;border-bottom:1px solid white}
header img {width: 185px;height: 50px;}
header a {font-family: 'Rajdhani', sans-serif;font-weight: 800;font-size: 28px;line-height: 31px;text-transform: uppercase;color: black;padding:5px 200px;background-color:rgb(255, 241, 118);}
header .indicator {background: #E5EAEC;border-radius: 2px;color:black;cursor: pointer;padding: 4px 16px;;display: flex; align-items: center; justify-content: center;;}
header .indicator-tooltip {color:black;margin-right: 8px;font-size: 16px;opacity: 1;margin-left:0;    margin-top: 1px;}
header li {color: black}
